doctype html
html(lang='zh-Hant-TW')
  head
    include ../htmlhead.include.pug
  body
    include ../navbar.include.pug
    include leftnav.include.pug
    .container-fluid.dessert_c
      .shopname
      .left_bg.position-fixed
      .row
        .col-lg-10.offset-lg-1.col-12
          section.d-flex.even.flex-lg-row.flex-column
            a(name="content1")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/dessert_img1.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 彩色可可波提
                hr
                p 巧克力的香純加進QQ的波堤裡，沾上香純的白巧克力醬，外觀點綴蔓越莓，一口咬下，多層次口感讓人回味。
          section.d-flex.flex-lg-row-reverse.odd.flex-lg-row.flex-column
            a(name="content2")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/dessert_img2.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 奶油蜂蜜紙杯糕
                hr
                p 與傳統的蜂蜜蛋糕比較，減低50%糖量，含水度也較高，不會有乾乾硬硬的感覺。
          section.d-flex.even.flex-lg-row.flex-column
            a(name="content3")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/dessert_img3.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 香草馬卡龍
                hr
                p 具淡雅的蜂蜜味，口感不會太過甜膩，容易一口接一口，涮嘴不停手。適合大人小孩食用，下午時日好涮嘴！
          section.d-flex.flex-lg-row-reverse.odd.flex-lg-row.flex-column
            a(name="content4")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/dessert_img4.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 巧克力泡芙
                hr
                p 手工現灌泡芙，雙重吃法好驚喜，冷藏吃冰淇淋口感，冷凍吃冰沙口感，每一口滿滿奶香，都是驚喜！ 
          section.d-flex.even.mb-5.flex-lg-row.flex-column
            a(name="content5")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/dessert_img5.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 水果奶酪
                hr
                p 堅持純手工製作，採用100%純鮮奶! 不加一滴水、不含人工化學添加劑、不加鮮奶油，簡單配方好吃又放心!