.leftnav.text-center
  .link.text-center
    a(href="#") 
      img(src="img/bread1.png" width="75px")
      p 牛角麵包
  .link.text-center
    a(href="#") 
      img(src="img/bread2.png" width="110px")
      p 牛角麵包
  .link.text-center
    a(href="#") 
      img(src="img/bread3.png" width="75px")
      p 牛角麵包
  .link.text-center
    a(href="#") 
      img(src="img/bread1.png" width="75px")
      p 牛角麵包
  .link.text-center
    a(href="#") 
      img(src="img/bread1.png" width="75px")
      p 牛角麵包