.leftnav.text-center
  .link.text-center
    a(href="#content1") 
      img(src="img/dessert1.png" width="75px")
      p 可可波提

  .link.text-center
    a(href="#content2") 
      img(src="img/dessert2.png" width="75px")
      p 紙杯蛋糕
  .link.text-center
    a(href="#content3") 
      img(src="img/dessert3.png" width="75px")
      p 香草馬卡龍
  .link.text-center
    a(href="#content4") 
      img(src="img/dessert4.png" width="75px")
      p 巧克力泡芙
  .link.text-center
    a(href="#content5") 
      img(src="img/dessert5.png" width="75px")
      p 水果奶酪
