include about_layout.include.pug
.container-fluid.about_content3.about
    .shopname
    .left_bg.position-fixed 
    section.d-flex.justify-content-center.align-items-center
        //- img(src="img/site_bg.jpg" width="100%")
        .rectOut.d-flex.justify-content-center.align-items-center
            .rectIn
            .rectBg.position-absolute
            .rectBgIn.position-absolute
            .rectText.position-absolute.d-flex.justify-content-center.align-items-center.text-center
                .d-none.d-lg-block
                    h3.pb-2 緣起
                    p 我們周遊列國，搜羅最出色的麵包 <br/>
                        | 在這個過程中，我們發掘到珍貴獨特的製作工法<br/>
                        | 迫不及待想將它們帶回來，與大家分享<br/>
                        | 每塊麵包都有獨一無二的故事<br/>
                        | 而我們為每種麵包精心研發專屬的烘焙方式
                .d-lg-none
                    h3.pb-2 緣起
                    p 我們周遊列國，搜羅最出色的麵包
                    p 我們發掘到珍貴獨特的製作工法
                    p 迫不及待想將它們帶回來分享大家