include about_layout.include.pug
.container-fluid.about_content2.about
    .shopname 呤粿烘焙
    .left_bg.position-fixed 
    .row
        .about2_Lbg.position-absolute
        .about2_Rbg.position-absolute
    
        .col-10.offset-2
            section.d-flex.mt-5
                div.overflow-hidden.imgdiv.col-4
                    img(src="img/about2_img1.jpg")
                div.d-flex.pt-3.col-5.offset-1.textdiv.align-items-center
                    div
                        h3.text-center 牛角麵包
                        p 王品集團因顧客而生存，有了顧客，我們才能永續經營，顧客的光臨對我們是莫大的恩惠，顧客有恩於我們，我們也要對他們心存感恩、心懷感謝、善解、寬容看待。 優質服務源自良好的互動，為顧客多想一點，因為讓我們的恩人感到快樂，甚至幫我們傳播好的口碑。
            section.d-flex.mt-5
                div.d-flex.pt-3.col-5.textdiv.align-items-center
                    div
                        h3.text-center 牛角麵包
                        p 王品集團因顧客而生存，有了顧客，我們才能永續經營，顧客的光臨對我們是莫大的恩惠，顧客有恩於我們，我們也要對他們心存感恩、心懷感謝、善解、寬容看待。 優質服務源自良好的互動，為顧客多想一點，因為讓我們的恩人感到快樂，甚至幫我們傳播好的口碑。
                div.overflow-hidden.imgdiv.col-4.offset-1
                    img(src="img/about2_img1.jpg")
            section.d-flex.mt-5.mb-5
                div.overflow-hidden.imgdiv.col-4
                    img(src="img/about2_img1.jpg")
                div.d-flex.pt-3.col-5.offset-1.textdiv.align-items-center
                    div
                        h3.text-center 牛角麵包
                        p 王品集團因顧客而生存，有了顧客，我們才能永續經營，顧客的光臨對我們是莫大的恩惠，顧客有恩於我們，我們也要對他們心存感恩、心懷感謝、善解、寬容看待。 優質服務源自良好的互動，為顧客多想一點，因為讓我們的恩人感到快樂，甚至幫我們傳播好的口碑。
            