include about_layout.include.pug
.container-fluid.about_content1.about
    .shopname
    .left_bg.position-fixed 
    .row
        section.d-flex.even.mt-lg-5.flex-column.flex-lg-row
            div.overflow-hidden.imgdiv.col-lg-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/about1_img1.jpg")
            div.d-flex.pt-3.col-lg-4.textdiv
                div
                    h3 堅持手工，技藝傳承
                    hr
                    p 堅持運用手工技藝，將食材處理至百分百完美，平均資歷十年以上的師傅，精湛的技巧，不浪費原料，並落實永續經營理念。
        section.d-flex.flex-lg-row-reverse.odd.mt-5.flex-column.flex-lg-row
            div.overflow-hidden.imgdiv.col-lg-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/about1_img2.jpg")
            div.d-flex.pt-3.col-lg-4.textdiv
                div
                    h3.text-right 回饋社會、珍愛大地
                    hr
                    p 倡導『優質養生、經營健康、健康資產、享受健康、回饋社會、珍愛大地』。提供創新研發的優質原料來『強化自然的本質』，而且可以享受健康的人生。
        section.d-flex.even.mt-5.mb-5.flex-column.flex-lg-row
            div.overflow-hidden.imgdiv.col-lg-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/about1_img3.jpg")
            div.d-flex.pt-3.col-lg-4.textdiv
                div
                    h3 誠信、道德、謙和
                    hr
                    p 掌握關鍵技術及原料，從傳統食品產業不斷擴展相關衍生性的產品，循序漸進，延伸醱酵食品產業，逐步邁向預防、保健、醫療生技領域。
              

