include about_layout.include.pug
.container-fluid.about_content2.about
    .shopname
    .left_bg.position-fixed 
    .row
        .about2_Lbg.position-absolute
        .about2_Rbg.position-absolute
    
        .col-12
            section.d-flex.mt-5.justify-content-center.flex-column.flex-lg-row
                div.overflow-hidden.imgdiv.mr-lg-5
                    img(src="img/about2_img1.jpg")
                div.d-flex.pt-3.textdiv.align-items-center.ml-lg-5
                    div
                        h3.text-center 關於店名
                        p 呤粿是為台語、日語的蘋果的諧音，在取名時左思右想，想不到好點子；這時正拿起旁邊蘋果來吃，突然靈機一動何不乾脆就將店名取為"呤粿"呢!!
            section.d-flex.mt-5.justify-content-center.flex-lg-row.flex-column-reverse
                div.d-flex.pt-3.textdiv.align-items-center.mr-lg-5
                    div
                        h3.text-center logo
                        p 店名為蘋果，logo自然離不開蘋果，以簡潔的線條勾勒出蘋果的樣貌，並以紅色的線條，表現出飽滿結實的樣子。
                div.overflow-hidden.imgdiv.borderimg.pb-4.ml-lg-5
                    img(src="img/logo.png")
            section.d-flex.mt-5.mb-5.justify-content-center.flex-column.flex-lg-row
                div.overflow-hidden.imgdiv.mr-5
                    img(src="img/about2_img3.jpg")
                div.d-flex.pt-3.textdiv.align-items-center.ml-lg-5
                    div
                        h3.text-center 店內風格
                        p 風景優美的古典主義風格，敏銳地把握空間需求，無論是傢俱還是配飾均以其優雅、唯美的姿態，平和而富有內涵的氣韻。
            