include about_layout.include.pug
.container-fluid.about_content1.about
    .shopname 呤粿烘焙
    .left_bg.position-fixed 
    .row
        section.d-flex.even.mt-5
            div.overflow-hidden.imgdiv.col-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/pan_img1.jpg")
            div.d-flex.pt-3.col-4.textdiv
                div
                    h3 牛角麵包
                    hr
                    p 我們周遊列國，搜羅最出色的咖啡豆。在這個過程中，我們發掘到珍貴獨特的咖啡豆，迫不及待想將它們帶回來，與大家分享。
        section.d-flex.flex-row-reverse.odd.mt-5
            div.overflow-hidden.imgdiv.col-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/pan_img2.jpg")
            div.d-flex.pt-3.col-4.textdiv
                div
                    h3.text-right 牛角麵包
                    hr
                    p 我們周遊列國，搜羅最出色的咖啡豆。在這個過程中，我們發掘到珍貴獨特的咖啡豆，迫不及待想將它們帶回來，與大家分享。
        section.d-flex.even.mt-5
            div.overflow-hidden.imgdiv.col-7
                .position-absolute.pt-3
                    h3  ///////
                    hr  
                img(src="img/pan_img1.jpg")
            div.d-flex.pt-3.col-4.textdiv
                div
                    h3 牛角麵包
                    hr
                    p 我們周遊列國，搜羅最出色的咖啡豆。在這個過程中，我們發掘到珍貴獨特的咖啡豆，迫不及待想將它們帶回來，與大家分享。
              

