.leftnav.text-center
  .link.text-center
    a(href="about1.html") 
      img(src="img/about1.png" width="75px")
      p 堅持
  .link.text-center
    a(href="about2.html") 
      img(src="img/about2.png" width="75px")
      p 名稱與logo
  .link.text-center
    a(href="about3.html") 
      img(src="img/about3.png" width="75px")
      p 緣起