.leftnav.text-center
  .link.text-center
    a(href="#content1") 
      img(src="img/bread1.png" width="75px")
      p 牛角麵包
  .link.text-center
    a(href="#content2") 
      img(src="img/bread2.png" width="110px")
      p 牛奶吐司
  .link.text-center
    a(href="#content3") 
      img(src="img/bread3.png" width="75px")
      p 法國麵包
  .link.text-center
    a(href="#content4") 
      img(src="img/bread4.png" width="75px")
      p 奶油餐包
  .link.text-center
    a(href="#content5") 
      img(src="img/bread5.png" width="75px")
      p 脆皮菠蘿