doctype html
html(lang='zh-Hant-TW')
  head
    include ../htmlhead.include.pug
  body
    include ../navbar.include.pug
    include leftnav.include.pug
    .container-fluid.pan_c
      .shopname
      .left_bg.position-fixed
      .row
        .col-lg-10.offset-lg-1.col-12
          section.d-flex.even.flex-column.flex-lg-row
            a(name="content1")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/pan_img1.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 牛角麵包
                hr
                p 多層次且酥鬆香脆的表面，灑滿乳酪丁、乳酪片、乳酪絲，入口更奶香濃郁，讓人讚不絕口！
          section.d-flex.flex-lg-row-reverse.odd.flex-column
            a(name="content2")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/pan_img4.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 奶油餐包
                hr
                p 法國麵包經典款，外酥內軟加上濃濃的奶油，經過回烤之後，小麥及奶油的香氣充滿在嘴裡。
          section.d-flex.even.flex-column.flex-lg-row
            a(name="content3")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/pan_img3.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 法國麵包
                hr
                p 法國麵包經典款，外酥內軟加上濃濃的奶油，經過回烤之後，小麥及奶油的香氣充滿在嘴裡。
          section.d-flex.flex-lg-row-reverse.odd.flex-column
            a(name="content4")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/pan_img2.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 牛奶吐司
                hr
                p 單純僅使用麵粉、新鮮酵母、糖、鹽、水精心研製的5度C熟成吐司，麵包體組織鬆柔Q，邊咀嚼邊釋放出淡雅的小麥獨有香甜。        
          section.d-flex.even.pb-5.flex-column.flex-lg-row
            a(name="content5")
            div.overflow-hidden.imgdiv.col-lg-7
              .position-absolute.pt-3
                h3  ///////
                hr  
              img(src="img/pan_img5.jpg")
            div.d-flex.pt-3.col-lg-5.textdiv
              div
                h3 脆皮菠蘿
                hr
                p 剛出爐的口感蓬鬆柔軟，表皮非常鬆脆。麵糰中奶油佔比降低30%，口感卻更好，適合現代人的飲食需求。