link(rel='stylesheet', href='css/bundle.css', type='text/css')
script(src='js/bundle.js', charset='utf-8')
script(src='js/all.js', charset='utf-8')
link(rel='stylesheet', href='css/all.css', type='text/css')
title 蘋果網