doctype html
html(lang='zh-Hant-TW')
  head
    include htmlhead.include.pug
  body
    include navbar.include.pug
    
    .container-fluid
      .shopname 
      section
        img(src="img/banner_01.jpg" width="100%")
      section
        img(src="img/banner_02.jpg" width="100%")
