#navbar
  ul.nav.justify-content-center
    li.nav-item.d-flex.align-items-center
      a.nav-link.active(href='pan.html') 麵包
    li.nav-item.d-flex.align-items-center
      a.nav-link(href='dessert.html') 甜點
    li.nav-item.d-flex.align-items-center
      a.nav-link(href='index.html')
        img(src="img/logo.png" width="75px" )
    li.nav-item.d-flex.align-items-center
      a.nav-link(href='about.html') 關於我們
    li.nav-item.d-flex.align-items-center
      a.nav-link(href='site.html') 門市
